@{
    ViewBag.Title = "Simchas";
}
@using SimchaFund.Data;
@using SimchaFund.Models;
@model SimchaViewModel
<div class="row">
    <h3 class="col-md-2 col-md-offset-5">Simchas</h3>
</div>
<div class="row">
    <button class="btn btn-primary col-md-3 col-md-offset-4" id="add-simcha">Add Simcha</button>
</div>
<table class="table table-hover table-striped- table-bordered" style="margin-top:15px;">
    <tr>
        <th style="text-align:center;vertical-align:middle;">Contribute</th>
        <th style="text-align:center;vertical-align:middle;">Simcha Name</th>
        <th style="text-align:center;vertical-align:middle;">Contribute Count</th>
        <th style="text-align:center;vertical-align:middle;">Total</th>
        <th style="text-align:center;vertical-align:middle;">Date</th>
        <th style="text-align:center;vertical-align:middle;">Actions</th>
    </tr>
    @foreach (SimchaPageData simcha in Model.Simchas)
    {
        <tr>
            <td style="text-align:center;vertical-align:middle;"><a class="btn btn-primary" href="/home/Contribute?id=@simcha.Simchas.Id">Contribute</a> </td>
            <td style="text-align:center;vertical-align:middle;">@simcha.Simchas.Name</td>
            <td style="text-align:center;vertical-align:middle;">@simcha.ContributedCount / @simcha.ContributorCount</td>
            <td style="text-align:center;vertical-align:middle;">@simcha.TotalContribution.ToString("C")</td>
            <td style="text-align:center;vertical-align:middle;">@simcha.Simchas.Date.ToShortDateString()</td>
            <td style="text-align:center;vertical-align:middle;"><a class="btn btn-warning" href="/Home/Email?simchaid=@simcha.Simchas.Id">Email Organizer</a></td>
        </tr>
    }
</table>
<form method="post" action="/home/addsimcha">
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add A Simcha</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" name="name" placeholder="Name" />
                    <br />
                    <input type="text" class="form-control" name="date" placeholder="Date" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Add Simcha</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
@section Scripts{
    <script src="~/Scripts/Simchas.js"></script>
}